ENGAGEMENT-BOT-TASK.json
{
  "name": "trying to cook",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "870af056-8312-444d-ac9c-d43107121d5e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "schedule-scraper"
    },
    {
      "parameters": {
        "jsCode": "// MVP Profile Scorer\nconst items = $input.all();\nconst qualifiedLeads = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // Profile Scraper uses 'followersCount' directly at the root level\n  const followers = data.followersCount || 0;\n  const username = data.username || \"unknown\";\n  const bio = data.biography || \"\";\n\n  // LET'S BE LENIENT FOR THE TEST: Score everyone 85\n  let score = 85; \n\n  qualifiedLeads.push({\n    json: {\n      username: username,\n      fullName: data.fullName || \"\",\n      bio: bio,\n      followers: followers,\n      leadScore: score,\n      status: \"qualified\",\n      dateAdded: new Date().toISOString()\n    }\n  });\n}\n\nreturn qualifiedLeads;"
      },
      "id": "05491229-8fc4-42ad-92a9-322163ff34e0",
      "name": "Lead Scoring Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado",
          "mode": "list",
          "cachedResultName": "Instaproj",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 955437958,
          "mode": "list",
          "cachedResultName": "MVP Instagram Leads Setup & Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit#gid=955437958"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "bio": "={{ $json.bio }}",
            "leadScore": "={{ $json.leadScore }}",
            "status": "={{ $json.status }}",
            "dateAdded": "={{ $json.dateAdded }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "leadScore",
              "displayName": "leadScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dateAdded",
              "displayName": "dateAdded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dmSent",
              "displayName": "dmSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c391a01f-c113-48cd-a794-52691c9378bd",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        816,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XS2ub7Ym5t1QYJaH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "e442355b-4bc9-4fc8-9c07-a949d015c02a",
      "name": "DM Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado",
          "mode": "list",
          "cachedResultName": "Instaproj",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 955437958,
          "mode": "list",
          "cachedResultName": "MVP Instagram Leads Setup & Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit#gid=955437958"
        },
        "options": {}
      },
      "id": "ddafb48e-5bf2-4349-ab4e-2396355df8e7",
      "name": "Get Pending Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        208,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XS2ub7Ym5t1QYJaH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "24423d8e-ec7c-49a4-ad59-9340c7c46058",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Random delay between 45-90 seconds to avoid patterns\nconst minDelay = 45000;\nconst maxDelay = 90000;\nconst randomDelay = Math.floor(Math.random() * (maxDelay - minDelay + 1) + minDelay);\n\nreturn new Promise(resolve => {\n  setTimeout(() => {\n    resolve($input.all());\n  }, randomDelay);\n});"
      },
      "id": "3f3ce0f6-c370-4dfc-98f4-def87e173fd4",
      "name": "Random Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ]
    },
    {
      "parameters": {
        "responseFormat": "json"
      },
      "id": "ec9cbb17-c47e-4e75-98c3-eaa2a8984ed2",
      "name": "Groq AI DM Generator",
      "type": "n8n-nodes-groq.groq",
      "typeVersion": 1,
      "position": [
        800,
        304
      ],
      "credentials": {
        "groqApi": {
          "id": "vEBRgXGqoMnzgiPj",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v18.0/me/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={\"id\": \"{{ $json.username }}\"}"
            },
            {
              "name": "message",
              "value": "={\"text\": \"{{ $json.message }}\"}"
            },
            {
              "name": "access_token",
              "value": "YOUR_INSTAGRAM_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "8dc4d9d8-bd18-4179-8bd9-b28d2c539b52",
      "name": "Send Instagram DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado",
          "mode": "list",
          "cachedResultName": "Instaproj",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 955437958,
          "mode": "list",
          "cachedResultName": "MVP Instagram Leads Setup & Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit#gid=955437958"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "status": "dm_sent",
            "row_number": 0
          },
          "matchingColumns": [
            "username"
          ],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leadScore",
              "displayName": "leadScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dateAdded",
              "displayName": "dateAdded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dmSent",
              "displayName": "dmSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5f6c1946-7443-480a-8d67-de5314325a10",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XS2ub7Ym5t1QYJaH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "8d05eb64-5170-4cce-9f84-12d7088e7760",
      "name": "Follow-Up Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        608
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado",
          "mode": "list",
          "cachedResultName": "Instaproj",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 955437958,
          "mode": "list",
          "cachedResultName": "MVP Instagram Leads Setup & Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit#gid=955437958"
        },
        "options": {}
      },
      "id": "78f19c2c-3bbc-4856-ace6-d638b159c99d",
      "name": "Get No-Reply Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        208,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XS2ub7Ym5t1QYJaH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.dmSent }}",
              "rightValue": "={{ new Date(Date.now() - 3 * 24 * 60 * 60 * 1000) }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "c0ac441e-ce52-4f98-b403-84d9d11820e8",
      "name": "3+ Days & <3 Followups",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        400,
        608
      ]
    },
    {
      "parameters": {},
      "id": "76978e3a-6ef6-47e2-9b51-a5268e3c6dce",
      "name": "Groq Follow-Up Generator",
      "type": "n8n-nodes-groq.groq",
      "typeVersion": 1,
      "position": [
        608,
        608
      ],
      "credentials": {
        "groqApi": {
          "id": "vEBRgXGqoMnzgiPj",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v18.0/me/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={\"id\": \"{{ $json.username }}\"}"
            },
            {
              "name": "message",
              "value": "={\"text\": \"{{ $json.message }}\"}"
            },
            {
              "name": "access_token",
              "value": "YOUR_INSTAGRAM_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "afa7edb1-2bbe-47be-8ff5-338c0eb40230",
      "name": "Send Follow-Up DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        608
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado",
          "mode": "list",
          "cachedResultName": "Instaproj",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 955437958,
          "mode": "list",
          "cachedResultName": "MVP Instagram Leads Setup & Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit#gid=955437958"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "followUpCount": "={{ ($json.followUpCount || 0) + 1 }}",
            "lastFollowUpDate": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "username"
          ]
        },
        "options": {}
      },
      "id": "0f57bbd3-0098-4eef-adb2-a2170b0c3283",
      "name": "Update Follow-Up Count",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1008,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XS2ub7Ym5t1QYJaH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "133b0823-3b7d-4aad-a879-f5da2ad26f5a",
      "name": "Daily Report Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        912
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado",
          "mode": "list",
          "cachedResultName": "Instaproj",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 955437958,
          "mode": "list",
          "cachedResultName": "MVP Instagram Leads Setup & Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit#gid=955437958"
        },
        "options": {}
      },
      "id": "5a56650f-ab5a-495f-9dfa-ea7577c56b94",
      "name": "Get All Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        208,
        912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XS2ub7Ym5t1QYJaH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate Daily Report\nconst today = new Date().toISOString().split('T')[0];\nconst yesterday = new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString().split('T')[0];\nconst leads = $input.all().map(item => item.json);\n\n// Calculate metrics\nconst newLeadsToday = leads.filter(l => l.dateAdded?.startsWith(today)).length;\nconst dmsSentToday = leads.filter(l => l.dmDate?.startsWith(today)).length;\nconst followUpsToday = leads.filter(l => l.lastFollowUpDate?.startsWith(today)).length;\nconst totalReplies = leads.filter(l => l.replied === true || l.replied === 'true').length;\nconst repliesToday = leads.filter(l => l.replyDate?.startsWith(today)).length;\nconst conversions = leads.filter(l => l.converted === true || l.converted === 'true').length;\n\nconst totalDms = leads.filter(l => l.status === 'dm_sent' || l.dmDate).length;\nconst conversionRate = totalDms > 0 ? ((conversions / totalDms) * 100).toFixed(2) : 0;\nconst replyRate = totalDms > 0 ? ((totalReplies / totalDms) * 100).toFixed(2) : 0;\n\n// Top leads by score\nconst topLeads = leads\n  .filter(l => l.leadScore > 80)\n  .sort((a, b) => b.leadScore - a.leadScore)\n  .slice(0, 5)\n  .map(l => `@${l.username} (Score: ${l.leadScore})`);\n\nconst report = {\n  date: today,\n  summary: {\n    newLeadsScraped: newLeadsToday,\n    dmsSentToday: dmsSentToday,\n    followUpsSent: followUpsToday,\n    newReplies: repliesToday,\n    totalConversions: conversions,\n    replyRate: `${replyRate}%`,\n    conversionRate: `${conversionRate}%`\n  },\n  pipeline: {\n    totalLeads: leads.length,\n    qualified: leads.filter(l => l.status === 'qualified' || l.leadScore >= 60).length,\n    contacted: leads.filter(l => l.status === 'dm_sent' || l.dmDate).length,\n    responded: totalReplies,\n    converted: conversions\n  },\n  topOpportunities: topLeads,\n  message: `📊 Daily Prospecting Report - ${today}\n\n🎯 ACTIVITY TODAY:\n• New leads scraped: ${newLeadsToday}\n• DMs sent: ${dmsSentToday}\n• Follow-ups: ${followUpsToday}\n• New replies: ${repliesToday}\n\n📈 CONVERSION METRICS:\n• Reply rate: ${replyRate}%\n• Conversion rate: ${conversionRate}%\n• Total pipeline: ${leads.length} leads\n\n🔥 TOP OPPORTUNITIES:\n${topLeads.join('\\n') || 'None yet'}\n\nView full dashboard: https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID`\n};\n\nreturn [{json: report}];"
      },
      "id": "64ce031d-4fee-4209-a40d-b461fd46d7e9",
      "name": "Generate Report Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        912
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado",
          "mode": "list",
          "cachedResultName": "Instaproj",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 955437958,
          "mode": "list",
          "cachedResultName": "MVP Instagram Leads Setup & Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit#gid=955437958"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "newLeads": "={{ $json.summary.newLeadsScraped }}",
            "dmsSent": "={{ $json.summary.dmsSentToday }}",
            "replies": "={{ $json.summary.newReplies }}",
            "conversionRate": "={{ $json.summary.conversionRate }}"
          }
        },
        "options": {}
      },
      "id": "16510b65-27cc-4fad-aabc-d122cbe45830",
      "name": "Save Report to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        608,
        1104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XS2ub7Ym5t1QYJaH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "271e8138-a626-4924-a1e4-e01e79c8bd3b",
      "name": "Dashboard Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        1312
      ],
      "webhookId": "live-dashboard"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado",
          "mode": "list",
          "cachedResultName": "Instaproj",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 955437958,
          "mode": "list",
          "cachedResultName": "MVP Instagram Leads Setup & Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13UfpcprkF3HJPAWCzTUvRBtek0r-BMNT6CWI7tPCado/edit#gid=955437958"
        },
        "options": {}
      },
      "id": "da9800d3-9253-4d9e-ac29-56afe17cfe72",
      "name": "Get Dashboard Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        208,
        1312
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XS2ub7Ym5t1QYJaH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Real-time dashboard stats\nconst leads = $input.all().map(item => item.json);\nconst today = new Date().toISOString().split('T')[0];\n\nconst stats = {\n  totalLeads: leads.length,\n  todayLeads: leads.filter(l => l.dateAdded?.startsWith(today)).length,\n  dmsSent: leads.filter(l => l.dmDate).length,\n  todayDms: leads.filter(l => l.dmDate?.startsWith(today)).length,\n  replies: leads.filter(l => l.replied === true || l.replied === 'true').length,\n  conversions: leads.filter(l => l.converted === true || l.converted === 'true').length,\n  avgLeadScore: leads.length > 0 ? (leads.reduce((sum, l) => sum + (parseInt(l.leadScore) || 0), 0) / leads.length).toFixed(1) : 0,\n  topLeads: leads\n    .filter(l => (l.leadScore || 0) > 75)\n    .sort((a, b) => (b.leadScore || 0) - (a.leadScore || 0))\n    .slice(0, 10)\n    .map(l => ({\n      username: l.username,\n      score: l.leadScore,\n      followers: l.followers,\n      status: l.status\n    }))\n};\n\nconst replyRate = stats.dmsSent > 0 ? ((stats.replies / stats.dmsSent) * 100).toFixed(1) : 0;\nconst conversionRate = stats.dmsSent > 0 ? ((stats.conversions / stats.dmsSent) * 100).toFixed(1) : 0;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"refresh\" content=\"30\">\n    <title>AI Agency Prospecting Dashboard</title>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { \n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; \n            background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);\n            color: #e2e8f0;\n            min-height: 100vh;\n            padding: 40px 20px;\n        }\n        .container { max-width: 1200px; margin: 0 auto; }\n        h1 { \n            font-size: 2.5rem; \n            margin-bottom: 8px; \n            background: linear-gradient(90deg, #3b82f6, #8b5cf6);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n        }\n        .subtitle { color: #64748b; margin-bottom: 32px; }\n        .stats-grid { \n            display: grid; \n            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); \n            gap: 20px; \n            margin-bottom: 32px;\n        }\n        .stat-card { \n            background: rgba(30, 41, 59, 0.8); \n            backdrop-filter: blur(10px);\n            border: 1px solid rgba(255,255,255,0.1);\n            border-radius: 16px; \n            padding: 24px;\n            transition: transform 0.2s, box-shadow 0.2s;\n        }\n        .stat-card:hover { \n            transform: translateY(-4px); \n            box-shadow: 0 20px 40px rgba(0,0,0,0.3);\n        }\n        .stat-label { \n            font-size: 0.875rem; \n            color: #94a3b8; \n            text-transform: uppercase;\n            letter-spacing: 0.05em;\n            margin-bottom: 8px;\n        }\n        .stat-value { \n            font-size: 2.5rem; \n            font-weight: 700;\n            margin-bottom: 4px;\n        }\n        .stat-change { \n            font-size: 0.875rem; \n            color: #22c55e;\n        }\n        .blue { color: #3b82f6; }\n        .green { color: #22c55e; }\n        .purple { color: #a855f7; }\n        .orange { color: #f97316; }\n        .pink { color: #ec4899; }\n        .yellow { color: #eab308; }\n        \n        .section { \n            background: rgba(30, 41, 59, 0.6); \n            border-radius: 16px; \n            padding: 24px;\n            margin-bottom: 24px;\n            border: 1px solid rgba(255,255,255,0.05);\n        }\n        .section h2 { \n            font-size: 1.25rem; \n            margin-bottom: 16px;\n            color: #f8fafc;\n        }\n        .lead-list { list-style: none; }\n        .lead-item { \n            display: flex; \n            align-items: center; \n            justify-content: space-between;\n            padding: 12px 0;\n            border-bottom: 1px solid rgba(255,255,255,0.05);\n        }\n        .lead-item:last-child { border-bottom: none; }\n        .lead-info { display: flex; align-items: center; gap: 12px; }\n        .lead-avatar { \n            width: 40px; \n            height: 40px; \n            border-radius: 50%; \n            background: linear-gradient(135deg, #3b82f6, #8b5cf6);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-weight: 600;\n            font-size: 0.875rem;\n        }\n        .lead-name { font-weight: 600; color: #f8fafc; }\n        .lead-meta { font-size: 0.875rem; color: #64748b; }\n        .score-badge { \n            background: rgba(59, 130, 246, 0.2);\n            color: #3b82f6;\n            padding: 4px 12px;\n            border-radius: 20px;\n            font-size: 0.875rem;\n            font-weight: 600;\n        }\n        .status-badge {\n            padding: 4px 12px;\n            border-radius: 20px;\n            font-size: 0.75rem;\n            font-weight: 600;\n            text-transform: uppercase;\n        }\n        .status-qualified { background: rgba(34, 197, 94, 0.2); color: #22c55e; }\n        .status-dm_sent { background: rgba(168, 85, 247, 0.2); color: #a855f7; }\n        .status-replied { background: rgba(236, 72, 153, 0.2); color: #ec4899; }\n        \n        .progress-bar {\n            width: 100%;\n            height: 8px;\n            background: rgba(255,255,255,0.1);\n            border-radius: 4px;\n            overflow: hidden;\n            margin-top: 8px;\n        }\n        .progress-fill {\n            height: 100%;\n            background: linear-gradient(90deg, #3b82f6, #8b5cf6);\n            border-radius: 4px;\n            transition: width 0.3s;\n        }\n        \n        .footer {\n            text-align: center;\n            color: #64748b;\n            font-size: 0.875rem;\n            margin-top: 40px;\n        }\n        .live-indicator {\n            display: inline-flex;\n            align-items: center;\n            gap: 8px;\n            color: #22c55e;\n            font-size: 0.875rem;\n        }\n        .pulse {\n            width: 8px;\n            height: 8px;\n            background: #22c55e;\n            border-radius: 50%;\n            animation: pulse 2s infinite;\n        }\n        @keyframes pulse {\n            0%, 100% { opacity: 1; }\n            50% { opacity: 0.5; }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div style=\"display: flex; justify-content: space-between; align-items: center; margin-bottom: 32px;\">\n            <div>\n                <h1>🤖 AI Agency Prospecting</h1>\n                <p class=\"subtitle\">Real-time Automation Dashboard</p>\n            </div>\n            <div class=\"live-indicator\">\n                <div class=\"pulse\"></div>\n                <span>Live • Auto-refresh: 30s</span>\n            </div>\n        </div>\n        \n        <div class=\"stats-grid\">\n            <div class=\"stat-card\">\n                <div class=\"stat-label\">Total Leads</div>\n                <div class=\"stat-value blue\">${stats.totalLeads}</div>\n                <div class=\"stat-change\">+${stats.todayLeads} today</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-label\">DMs Sent</div>\n                <div class=\"stat-value purple\">${stats.dmsSent}</div>\n                <div class=\"stat-change\">+${stats.todayDms} today</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-label\">Reply Rate</div>\n                <div class=\"stat-value green\">${replyRate}%</div>\n                <div class=\"progress-bar\">\n                    <div class=\"progress-fill\" style=\"width: ${replyRate}%\"></div>\n                </div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-label\">Conversion Rate</div>\n                <div class=\"stat-value pink\">${conversionRate}%</div>\n                <div class=\"stat-change\">${stats.conversions} converted</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-label\">Avg Lead Score</div>\n                <div class=\"stat-value yellow\">${stats.avgLeadScore}</div>\n                <div class=\"stat-change\">Out of 100</div>\n            </div>\n            <div class=\"stat-card\">\n                <div class=\"stat-label\">Active Replies</div>\n                <div class=\"stat-value orange\">${stats.replies}</div>\n                <div class=\"stat-change\">Conversations</div>\n            </div>\n        </div>\n        \n        <div class=\"section\">\n            <h2>🔥 Top Opportunities</h2>\n            <ul class=\"lead-list\">\n                ${stats.topLeads.map(lead => \\`\n                    <li class=\"lead-item\">\n                        <div class=\"lead-info\">\n                            <div class=\"lead-avatar\">\\${lead.username.substring(0,2).toUpperCase()}</div>\n                            <div>\n                                <div class=\"lead-name\">@\\${lead.username}</div>\n                                <div class=\"lead-meta\">\\${lead.followers?.toLocaleString() || 'N/A'} followers</div>\n                            </div>\n                        </div>\n                        <div style=\"display: flex; gap: 12px; align-items: center;\">\n                            <span class=\"score-badge\">\\${lead.score}</span>\n                            <span class=\"status-badge status-\\${lead.status}\">\\${lead.status.replace('_', ' ')}</span>\n                        </div>\n                    </li>\n                \\`).join('')}\n            </ul>\n        </div>\n        \n        <div class=\"footer\">\n            <p>Last updated: ${new Date().toLocaleString()} • Nexus AI Automation</p>\n        </div>\n    </div>\n</body>\n</html>`;\n\nreturn [{json: {html, stats}}];"
      },
      "id": "f511625b-9bad-4670-872e-4aee0692eb6c",
      "name": "Generate Dashboard HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1312
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "a5e8f876-e757-48b4-b63d-8b9daba2ab1f",
      "name": "Respond with Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        608,
        1312
      ]
    },
    {
      "parameters": {
        "sendTo": "minkug83@gmail.com",
        "subject": "Test",
        "emailType": "text",
        "message": "working",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        912
      ],
      "id": "b5c6a75a-f116-4c4f-ba9f-038956c1cfd1",
      "name": "Send a message",
      "webhookId": "9e1c5e6d-6d42-41c7-9204-91ec18371f79",
      "credentials": {
        "gmailOAuth2": {
          "id": "YlLVk1Af6LmM7BNo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "bGApZ3CtTxA9fv2rl",
          "mode": "list",
          "cachedResultName": "🔥 Instagram Profile Scraper API (coderx/instagram-profile-scraper-api)",
          "cachedResultUrl": "https://console.apify.com/actors/bGApZ3CtTxA9fv2rl/input"
        },
        "customBody": "{\n  \"usernames\": [\"zuck\", \"microsoft\", \"google\"],\n  \"resultsLimit\": 3\n}",
        "timeout": 300
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "9fc4e07d-464d-4c9d-bc92-236eeb7de4b7",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "V2sUDIZ2duwWToQc",
          "name": "Apify account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Scoring Filter": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Leads": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Random Delay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay": {
      "main": [
        [
          {
            "node": "Groq AI DM Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI DM Generator": {
      "main": [
        [
          {
            "node": "Send Instagram DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram DM": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-Up Schedule": {
      "main": [
        [
          {
            "node": "Get No-Reply Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get No-Reply Leads": {
      "main": [
        [
          {
            "node": "3+ Days & <3 Followups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3+ Days & <3 Followups": {
      "main": [
        [
          {
            "node": "Groq Follow-Up Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Follow-Up Generator": {
      "main": [
        [
          {
            "node": "Send Follow-Up DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-Up DM": {
      "main": [
        [
          {
            "node": "Update Follow-Up Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Report Schedule": {
      "main": [
        [
          {
            "node": "Get All Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Leads": {
      "main": [
        [
          {
            "node": "Generate Report Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report Stats": {
      "main": [
        [
          {
            "node": "Save Report to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard Webhook": {
      "main": [
        [
          {
            "node": "Get Dashboard Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dashboard Data": {
      "main": [
        [
          {
            "node": "Generate Dashboard HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dashboard HTML": {
      "main": [
        [
          {
            "node": "Respond with Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Lead Scoring Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "82ad1efd-4557-4725-9fc7-ed55437d938d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bac46e0906bbdbb7e971e261e7be4e93b41b1920b10711d4424970b7f8d3156f"
  },
  "id": "OloFUSUkxyGvaFwE",
  "tags": [
    {
      "updatedAt": "2026-03-31T15:02:00.581Z",
      "createdAt": "2026-03-31T15:02:00.581Z",
      "id": "GPaD4yvrA0hRaRWu",
      "name": "AI Automation"
    },
    {
      "updatedAt": "2026-03-31T15:02:00.548Z",
      "createdAt": "2026-03-31T15:02:00.548Z",
      "id": "SoVlmP7BOccMjyho",
      "name": "Prospecting"
    }
  ]
}